<head>
{% extends "base.html" %}
{% block title %}HearingSIN-Test: First Set{% endblock %}
</head>
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='function1.js') }}"></script>
<script src="https://kit.fontawesome.com/6cbc24a763.js" crossorigin="anonymous"></script>
<script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
<script src="{{ url_for('static', filename='record_1.js') }}"></script>
<center>
<div style="max-width:700px;width: 90%;padding-top: 10em;">
<h1 style="font-size: 3.5em;"><u>HearingSIN-Test: First of Six</u></h1>
<br><br><p>{{message}}</p><br><br>
<audio id="audio1" preload="auto" autobuffer >
    <source src="{{ url_for('static', filename='audio/Track 3_1.wav') }}" type="audio/wav"></source>
</audio>
<audio id="audio2" preload="auto" autobuffer>
    <source src="{{ url_for('static', filename='audio/Track 3_2.wav') }}" type="audio/wav"></source>
</audio>
<audio id="audio3" preload="auto" autobuffer>
    <source src="{{ url_for('static', filename='audio/Track 3_3.wav') }}" type="audio/wav"></source>
</audio>
<audio id="audio4" preload="auto" autobuffer>
    <source src="{{ url_for('static', filename='audio/Track 3_4.wav') }}" type="audio/wav"></source>
</audio>
<audio id="audio5" preload="auto" autobuffer>
    <source src="{{ url_for('static', filename='audio/Track 3_5.wav') }}" type="audio/wav"></source>
</audio>
<audio id="audio6" preload="auto" autobuffer>
    <source src="{{ url_for('static', filename='audio/Track 3_6.wav') }}" type="audio/wav"></source>
</audio>
<audio id="beep" preload="auto" autobuffer>
    <source src="{{ url_for('static', filename='audio/beep.wav') }}" type="audio/wav"></source>
</audio>
<div>
<h1 style="font-size: 3.5em;" id="text"></h1>
<br><br><br>
<button id="hide" style="font-size: 3em;border-radius: 50%;width: 6em;height: 6em; background-color: red;"type="button"
onclick="textGuide();document.getElementById('thing').style.display='none';startRecording();"><b>Begin</b></button>
 <div class="loader" style="display:none;"></div>
<button id="next" class="btn btn-lg btn-primary btn-block" onclick='location.href="/second_track"' style="display:none;width:15em;">Next Set</button>
<br><br>
</div>
<br><br><br>
<br><br>

</div>

</script>
</center>
{% endblock %}