<html>
  <head>
    {% extends "base.html" %}
    {% block title %}
    HearingSIN-Test: Forget Your Password?
    {% endblock %}
  </head>
  <body>
    {% block content %}
    <style type="text/css">
  .card{box-shadow: 0 4em 8em 0 rgba(0,0,0,0.2);width: 80%; max-width:700px;margin: 0 auto; float:  none;margin-bottom: 10em;}
</style>
    <center>
    <br><br><br><br><br><br><br><br><br>
    <div class="card" style="background-color: snow;" ><br><br>
    <h2>Enter Your Credentials to Reset Your Password</h2><br>
    <form action="/forget_password" method="POST">
      <label> Your Email:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div style="width:20%"></div>
      <input type="email" style="width:40%;" name="email" id="email" required minlength="2" maxlength="80">
      <br>
      <label>Where were you born?</label>&nbsp;
      <div style="width:20%"></div>
      <input type="text" style="width:40%;" name="secret1" id="secret1" required minlength="2" maxlength="80"><br>
      <label>Your favorite color?</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div style="width:20%"></div>
      <input type="text" style="width:40%" name="secret2" id="secret2" required minlength="2" maxlength="80"><br>
      <label> New Password:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div style="width:20%"></div>
      <input type="password" style="width:40%" name="password" id="password" minlength="8" required onmouseover="this.type='text'" onmouseout="this.type='password'">
      <br><br><b><p style="color:black">{{message}}</p></b><br>
      <button type="submit" class="btn btn-lg btn-primary btn-block"  style="width: 30%;">Submit</button>
    </form><br><br>
    </div>
    <button onclick="location.href='/login'" class="btn btn-default"  style="width: 25em;">Return to Login</button>
  </center>
   {% endblock %}
  </body>
</html>
